h1 {
  color: #2200b9;
  font-size: 50px;
  font-family: cuningham;
  margin-bottom: 4%;
}

.title{
  text-align: center;
  font-weight: normal;
  font-size: 35px;
  position: relative;
  margin: 40px 0;
}

.title::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #f9dd94;
  bottom: -10px;
  left:  50%;
  transform: translate(-50%);
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    width: 100px;
  }

  50% {
    width: 200px;
  }


  100% {
    width: 100px;
  }
}