@font-face {
  font-family: cuningham;
  src: url(../fonts/Cuningham\ Singleton\ Italic.otf);
}

@font-face {
  font-family: bluetea;
  src: url(../fonts/Bluetea.ttf);
}

@font-face {
  font-family: bp;
  src: url(../fonts/Batuphat\ Script.otf);
}

@font-face {
  font-family: hs;
  src: url(../fonts/Happy\ School.ttf);
}

*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color0: #fff;
  --color1: #F25CA2;
  --color2: #0433BF;
  --color3: #032CA6;
  --color4: #021859;
  --color5: #0B9ED9;
  --color6: #000;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section {
  margin: 1% 5%;
}

header {
  width: 100%;
  background-color: var(--color4);
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  background-color: var(--color2);
  width: 6rem;
  height: 6rem;
  display: flex;
  border-radius: 50%;
}

.navbar-brand i {
  font-size: 4rem;
  color:var(--color0);
  margin: auto;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-link {
  font-size: 2rem;
  font-family: bp;
  text-decoration: none;
  display: block;
  margin: 0 2rem;
  color: var(--color0);
  text-transform: capitalize;
  transform: scale(0);
  transition: transform 650ms;
}

.nav-item {
  position: relative;
  line-height: 8rem;
  transition-delay: .4s;
  visibility: hidden;
}

.nav-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color1);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 650ms cubic-bezier(.68, -.55, .265, 1.55);
}

.nav-item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
} 

.hamburger {
  width: 3.6rem;
  height: 1.8rem;
  position: relative;
  cursor: pointer;
  line-height: 5rem;
  z-index: 1500;
}

.hamburger .line {
  width: 100%;
  height: 2px;
  background-color: var(--color0);
  position: absolute;
  display: block;
  right: 0;
  transition: all 650ms;
}

.hamburger .line:nth-child(1) {
  top: 0;
}

.hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -1px;
  width: 2.8rem;
}

.hamburger .line:nth-child(3) {
  top: 100%;
  margin-top: -2px;
  width: 2rem;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(.8rem) rotate(45deg);
  width: 2rem;
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-.8rem) rotate(-45deg);
  width: 2rem;
}

.nav-list.active .nav-link {
  transform: scale(1);
}

.nav-list.active .nav-item {
  transition-delay: initial;
  visibility: visible;
}

.nav-list.active .nav-item:nth-child(1) .nav-link {
  transition-delay: .5s;
}

.nav-list.active .nav-item:nth-child(2) .nav-link {
  transition-delay: .4s;
}

.nav-list.active .nav-item:nth-child(3) .nav-link {
  transition-delay: .3s;
}

.nav-list.active .nav-item:nth-child(4) .nav-link {
  transition-delay: .2s;
}

.nav-list.active .nav-item:nth-child(5) .nav-link {
  transition-delay: .1s;
}

.nav-list .nav-item:nth-child(1) .nav-link {
  transition-delay: .1s;
}

.nav-list .nav-item:nth-child(2) .nav-link {
  transition-delay: .2s;
}

.nav-list .nav-item:nth-child(3) .nav-link {
  transition-delay: .3s;
}

.nav-list .nav-item:nth-child(4) .nav-link {
  transition-delay: .4s;
}

.nav-list .nav-item:nth-child(5) .nav-link {
  transition-delay: .5s;
}

@media screen and (max-width: 768px) {

    .nav-list {
      width: 100%;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--color2);
      position: fixed;
      left: 0;
      bottom: -100vh;
      transform: bottom 650ms;
    }

    .nav-list.active {
      bottom: 0;
    }

}

.footer{
  background: #021859;
  font-family: bluetea;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding:1.5% 0px;
  width: 100%;
  height: auto;
  position:fixed;
  bottom:0;
}


.gallery {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  text-align: center;
}

.pic {
  position: relative;
  height: 230px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px lightgray;
  cursor: pointer;
  transition: .5s;
}

.pic img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: .5s;
}

.pic::before {
  content:'CLICK TO PREVIEW';
  position: absolute;
  top: 50%;
  font-family: hs;
  left: 50%;
  transform: translate(-50%,-50%);
  color:white;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  margin-top: -100px;
  opacity: 0;
  transition: .5s;
  transition-delay:  .2s;
  z-index: 1;
}

.pic:after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  height: 0;
  background-color: rgba(0, 0, 0, .4);
  transition: .3s;
}

.pic:hover::after {
  height: 100%;
}

.pic:hover::before {
  margin-top: 0;
  opacity: 1;
}

.back {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 3%;
  width: 50px;
}